arabic-reshaper
asgiref
asn1crypto
billiard
certifi
cffi
charset-normalizer
click
cloudinary
colorama
constantly
cryptography
cssselect2
defusedxml
diff-match-patch
distlib
dj-database-url
Django
django-allauth
django-autoslug
django-ckeditor
django-countries
django-crispy-forms
django-defender
django-filter
django-import-export
django-js-asset
django-otp
django-phonenumber-field
django-user-agents
django-zxcvbn-password
docopt
et-xmlfile
ez-setup
html5lib
idna
incremental
iniconfig
isort
lxml
MarkupPy
msgpack
num2words
oauthlib
odfpy
openpyxl
oscrypto
phonenumbers
Pillow
psutil
psycopg2-binary
pycparser
PyJWT
pyotp
pyparsing
pypdf
PyPDF2
pypng
pyshorteners
python-bidi
python-dotenv
python3-openid
pytz-deprecation-shim
PyYAML
qrcode
redis
regex
reportlab
requests
requests-oauthlib
roundrobin
six
sniffio
sortedcontainers
soupsieve
sqlparse
svglib
tablib
tinycss2
txaio
typing_extensions
tzdata
tzlocal
ua-parser
uritools
urllib3
urllib3-secure-extra
user-agents
vine
wcwidth
webencodings
Werkzeug
whitenoise
xhtml2pdf
xlrd
xlwt
zipp
zope.event
zope.interface
zxcvbn
